<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/delivery.css}" />
    <title>Купить права лишенному 26000 руб. за 3 дня</title>
  </head>
  <body id="root">
    <header>
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo">
            <img th:src="@{/img/logo.png}" alt="logo" />
          </div>
          <div class="city">Казань</div>
          <div class="cities-container">
            <div class="cities-block">
              <div class="cities-cancel">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  height="12px"
                  width="12px"
                  version="1.1"
                  id="Layer_1"
                  viewBox="0 0 492 492"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"
                      />
                    </g>
                  </g>
                </svg>
              </div>
              <div class="cities-grid">
                <div class="cities-grid-item">Барнаул</div>
                <div class="cities-grid-item">Волгоград</div>
                <div class="cities-grid-item">Воронеж</div>
                <div class="cities-grid-item">Екатеринбург</div>
                <div class="cities-grid-item">Ижевск</div>
                <div class="cities-grid-item">Иркутск</div>
                <div class="cities-grid-item">Казань</div>
                <div class="cities-grid-item">Краснодар</div>
                <div class="cities-grid-item">Красноярск</div>
                <div class="cities-grid-item">Москва</div>
                <div class="cities-grid-item">Нижний Новгород</div>
                <div class="cities-grid-item">Новосибирск</div>
                <div class="cities-grid-item">Омск</div>
                <div class="cities-grid-item">Пермь</div>
                <div class="cities-grid-item">Ростов-на-Дону</div>
                <div class="cities-grid-item">Самара</div>
                <div class="cities-grid-item">Санкт-Петербург</div>
                <div class="cities-grid-item">Саратов</div>
                <div class="cities-grid-item">Тольятти</div>
                <div class="cities-grid-item">Тюмень</div>
                <div class="cities-grid-item">Ульяновск</div>
                <div class="cities-grid-item">Уфа</div>
                <div class="cities-grid-item">Хабаровск</div>
                <div class="cities-grid-item">Челябинск</div>
                <div class="cities-grid-item">Ярославль</div>
              </div>
            </div>
          </div>
        </div>
        <div class="number">
          <a class="number-image" href="whatsapp://send?phone=+79152080047">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 01-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 01-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553A6.48 6.48 0 006.8 15.636l-.825 2.433 2.537-.806a6.6 6.6 0 003.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 01-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 01-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 00-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z"
                fill-rule="evenodd"
              />
            </svg>
          </a>
          <a class="number-text" href="tel:+79152080047">+7(915) 208-00-47</a>
        </div>
      </div>
      <div class="header-nav">
        <a href="/" class="header-nav-item">Права</a>
        <a href="/special" class="header-nav-item">Спецтехника</a>
        <a href="/gims" class="header-nav-item">ГИМС</a>
        <a href="/feedback" class="header-nav-item">Отзывы</a>
        <a href="/delivery" class="header-nav-item"
          >Доставка и оплата</a
        >
      </div>
    </header>
    <main>
      <section class="delivery-main">
        <div class="delivery-main-content">
          <div class="delivery-main-content-left">
            <div class="delivery-main-title">Доставка и оплата</div>
            <div class="delivery-main-order-btn app-order-btn">
              Заказать права
            </div>
          </div>
          <div class="delivery-main-content-image">
            <img th:src="@{/img/main-bg.webp}" alt="" />
          </div>
        </div>
      </section>
      <section class="points-list">
        <div class="point">
          <div class="point-title">Отправить информацию и аванс</div>
          <div class="point-list-unordered">
            <div class="point-list-unordered-item">
              <div class="point-bullet"></div>
              <div class="point-list-text">
                Для начала работы нам необходимо получить от клиента заказ с
                полной информацией и фотографиями, перед отправкой и заполнением
                формы рекомендуем созвониться со специалистами для уточнения
                необходимых данных.
              </div>
            </div>
            <div class="point-list-unordered-item">
              <div class="point-bullet"></div>
              <div class="point-list-text">
                Аванс всего 5000 руб. в независимости от вида документа, который
                оформляет клиент. Мы понимаем что аферистов много и люди
                переживают, поэтому мы предлагаем минимальный аванс, чтобы
                понимать серьезность намерений.
              </div>
            </div>
          </div>
        </div>
        <div class="point">
          <div class="point-title">Изготовление и проверка</div>
          <div class="point-list-ordered">
            <div class="point-list-ordered-item">
              <div class="number">1</div>
              <div class="point-list-text">
                Оформление документа занимает не более 3 рабочих дней,
                минимальный срок 6 часов.
              </div>
            </div>
            <div class="point-list-ordered-item">
              <div class="number">2</div>
              <div class="point-list-text">
                Как только документ клиента готов мы присылаем отчет по его
                выполнению в формате фото и видео.
              </div>
            </div>
            <div class="point-list-ordered-item">
              <div class="number">3</div>
              <div class="point-list-text">
                Клиент проверяет готовый документ, в том числе и по базе, на это
                мы даем время и спокойно относимся к такой проверке.
              </div>
            </div>
          </div>
        </div>
        <div class="point">
          <div class="point-title">Оплата и отправка</div>
          <div class="point-list-unordered">
            <div class="point-list-unordered-item">
              <div class="point-bullet"></div>
              <div class="point-list-text">
                Мы получаем оплату за работу, полную и окончательную стоимость.
              </div>
            </div>
            <div class="point-list-unordered-item">
              <div class="point-bullet"></div>
              <div class="point-list-text">
                Отправляем документ курьером по указанному адресу.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="why">
        <div class="why-title">
          Мы действительно отправляем документ после оплаты и вот почему:
        </div>
        <div class="why-flex">
          <div class="why-flex-item">
            <div class="why-flex-item-image"></div>
            <div class="why-flex-item-text">
              Нет смысла обманывать, документ с вашим фото и данными
            </div>
          </div>
          <div class="why-flex-item">
            <div class="why-flex-item-image"></div>
            <div class="why-flex-item-text">
              После одного успешного заказа от клиента приходят друзья
            </div>
          </div>
          <div class="why-flex-item">
            <div class="why-flex-item-image"></div>
            <div class="why-flex-item-text">
              И вообще мы просто не обманываем!
            </div>
          </div>
        </div>
      </section>
      <section class="also">
        <div class="also-text">
          <div class="also-title">
            Добъемся положительного результата в любом случае
          </div>
          <div class="also-subtitle">
            Квалифицированные и опытные сотрудники находят выходы из самых
            трудных и проблемных ситуаций, чтобы добиться положительного в вашем
            случае результата. Цена на покупку прав ГИМС значительно меньше, чем
            стандартный вариант путем прохождения обучения, экзаменационных
            процедур и комиссии из врачей. Чтобы уточнить стоимость изготовления
            удостоверения, нужно просто отправить заявку с нашего сайта.
          </div>
        </div>
        <div class="also-image"></div>
      </section>
      <section class="send-order">
        <div class="send-order-block">
          <div class="send-order-block-title">Отправить заказ</div>
          <form action="" class="send-order-form">
            <div class="send-order-inputs">
              <div class="send-order-input">
                <input type="text" class="name-form" placeholder="Имя" />
              </div>
              <div class="send-order-input">
                <input type="text" class="phone-form" placeholder="Телефон" />
              </div>
            </div>
            <textarea
              class="send-order-textarea"
              name=""
              id=""
              placeholder="Что требуется сделать"
            ></textarea>
            <div class="send-order-submit-btn">Заказать права</div>
          </form>
        </div>
        <div class="send-order-image">
          <img th:src="@{/img/form-img.webp}" alt="" />
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="main-footer">
          <div class="footer-left">
            <div class="footer-logo">
              <img th:src="@{/img/logo.png}" alt="logo" />
            </div>
            <div class="footer-city">Казань</div>
          </div>
          <div class="number">
            <a class="number-image" href="whatsapp://send?phone=+79152080047">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 01-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 01-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553A6.48 6.48 0 006.8 15.636l-.825 2.433 2.537-.806a6.6 6.6 0 003.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 01-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 01-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 00-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z"
                  fill-rule="evenodd"
                />
              </svg>
            </a>
            <a class="number-text" href="tel:+79152080047">+7(915) 208-00-47</a>
          </div>
        </div>
        <div class="footer-nav">
          <nav>
            <a href="/" class="footer-nav-item">Права</a>
            <a href="/special" class="footer-nav-item"
              >Спецтехника</a
            >
            <a href="/gims" class="footer-nav-item">ГИМС</a>
            <a href="/feedback" class="footer-nav-item">Отзывы</a>
            <a href="/delivery" class="footer-nav-item"
              >Доставка и оплата</a
            >
          </nav>
          <div class="header-nav-other">2023 © Все права защищены</div>
        </div>
      </div>
    </footer>

    <div class="order-container">
      <div class="order-block">
        <div class="order-cancel">
          <img th:src="@{/img/close.png}" alt="" />
        </div>
        <div class="order-title">Заказ прав</div>
        <form action="" class="order-form">
          <div class="order-inputs">
            <div class="order-input">
              <input type="text" class="name" placeholder="Имя" />
            </div>
            <div class="order-input">
              <input type="text" class="phone" placeholder="Телефон" />
            </div>
          </div>
          <textarea
            class="order-textarea"
            name=""
            id=""
            placeholder="Что требуется сделать"
          ></textarea>
          <div class="order-submit-btn">Заказать права</div>
        </form>
      </div>
    </div>
    <div class="send-success-container">
      <div class="send-success-block">
        <div class="send-success-block-title">Сообщение отправлено!</div>
        <div class="send-success-block-subtitle">
          Мы свяжемся с Вами в ближайшее время.
        </div>
        <div class="send-success-block-close">Закрыть</div>
      </div>
    </div>
    <script th:src="@{/scripts/header.js}"></script>
    <script th:src="@{/scripts/order.js}"></script>
  </body>
</html>
