<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/gims.css}"/>
    <title>Купить права лишенному в Казани 26000 руб. за 3 дня</title>
  </head>
  <body id="root">
    <header>
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo">
            <img th:src="@{/img/logo.png}" alt="logo" />
          </div>
          <div class="city">Казань</div>
          <div class="cities-container">
            <div class="cities-block">
              <div class="cities-cancel">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  height="12px"
                  width="12px"
                  version="1.1"
                  id="Layer_1"
                  viewBox="0 0 492 492"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"
                      />
                    </g>
                  </g>
                </svg>
              </div>
              <div class="cities-grid">
                <div class="cities-grid-item">Барнаул</div>
                <div class="cities-grid-item">Волгоград</div>
                <div class="cities-grid-item">Воронеж</div>
                <div class="cities-grid-item">Екатеринбург</div>
                <div class="cities-grid-item">Ижевск</div>
                <div class="cities-grid-item">Иркутск</div>
                <div class="cities-grid-item">Казань</div>
                <div class="cities-grid-item">Краснодар</div>
                <div class="cities-grid-item">Красноярск</div>
                <div class="cities-grid-item">Москва</div>
                <div class="cities-grid-item">Нижний Новгород</div>
                <div class="cities-grid-item">Новосибирск</div>
                <div class="cities-grid-item">Омск</div>
                <div class="cities-grid-item">Пермь</div>
                <div class="cities-grid-item">Ростов-на-Дону</div>
                <div class="cities-grid-item">Самара</div>
                <div class="cities-grid-item">Санкт-Петербург</div>
                <div class="cities-grid-item">Саратов</div>
                <div class="cities-grid-item">Тольятти</div>
                <div class="cities-grid-item">Тюмень</div>
                <div class="cities-grid-item">Ульяновск</div>
                <div class="cities-grid-item">Уфа</div>
                <div class="cities-grid-item">Хабаровск</div>
                <div class="cities-grid-item">Челябинск</div>
                <div class="cities-grid-item">Ярославль</div>
              </div>
            </div>
          </div>
        </div>
        <div class="number">
          <a class="number-image" href="whatsapp://send?phone=+74993223093">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 01-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 01-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553A6.48 6.48 0 006.8 15.636l-.825 2.433 2.537-.806a6.6 6.6 0 003.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 01-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 01-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 00-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z"
                fill-rule="evenodd"
              />
            </svg>
          </a>
          <a class="number-text" href="tel:+74993223093">+7(499) 322-30-93</a>
        </div>
      </div>
      <div class="header-nav">
        <a href="/" class="header-nav-item">Права</a>
        <a href="/special" class="header-nav-item">Спецтехника</a>
        <a href="/gims" class="header-nav-item">ГИМС</a>
        <a href="/feedback" class="header-nav-item">Отзывы</a>
        <a href="/delivery" class="header-nav-item"
          >Доставка и оплата</a
        >
      </div>
    </header>
    <main>
      <section class="gims-main">
        <div class="gims-main-content">
          <div class="gims-main-content-left">
            <div class="gims-main-title change-title">
              Купить права на спецтехнику в Казани
            </div>
            <div class="gims-main-order-btn app-order-btn">Заказать права</div>
          </div>
          <div class="gims-main-content-image">
            <img th:src="@{/img/gims-pass.webp}" alt="" />
          </div>
        </div>
        <div class="gims-main-subcontent">
          <div class="gims-main-subcontent-image">
            <img th:src="@{/img/gims-car.webp}" alt="" />
          </div>
          <div class="gims-main-subcontent-text">
            Выдачей прав ГИМС занимается Государственная инспекция по маломерным
            судам. Чтобы получить это специальное удостоверение, необходимо
            пройти обучение и сдать экзамены. С подобным документом разрешается
            управлять такими, например, суднами, как лодка, катер, квадроцикл
            или яхта.
          </div>
        </div>
      </section>
      <section class="terms">
        <div class="terms-title">Наши условия</div>
        <div class="terms-flex">
          <div class="terms-flex-item">
            <div class="terms-flex-item-image"></div>
            <div class="terms-flex-item-title">26000 ₽</div>
            <div class="terms-flex-item-subtitle">Стоимость прав</div>
          </div>
          <div class="terms-flex-item">
            <div class="terms-flex-item-image"></div>
            <div class="terms-flex-item-title">3 дня</div>
            <div class="terms-flex-item-subtitle">Срок изготовления</div>
          </div>
          <div class="terms-flex-item">
            <div class="terms-flex-item-image"></div>
            <div class="terms-flex-item-title">3000 ₽</div>
            <div class="terms-flex-item-subtitle">Аванс</div>
          </div>
          <div class="terms-flex-item">
            <div class="terms-flex-item-image"></div>
            <div class="terms-flex-item-title">Что потребуется</div>
            <div class="terms-flex-item-subtitle">
              фото, страница паспорта разворот, прописка и аванс
            </div>
          </div>
        </div>
      </section>
      <section class="roads">
        <div class="roads-content">
          <div class="roads-list-title">
            Транспортные средства, на которых можно передвигаться по водным
            пространствам, имеют большой спрос на отдыхе. Прокатиться ведь
            доступно не только самому, но и заработать при этом. Приобрести за
            умеренные средства тот же гидроцикл можно, однако, и нужно еще
            получить водительское удостоверение на право управления водным
            транспортом. Это обязательно. А иначе, к сожалению, будут и штрафы,
            и возможная конфискация транспорта за систематическое игнорирование
            оплаты нарушений. У вас есть два пути:
          </div>
          <ol class="roads-list">
            <li class="roads-list-item">
              <div>1</div>
              <div>Пойти по установленной дороге – через ГИМС.</div>
            </li>
            <li class="roads-list-item">
              <div>2</div>
              <div>Или приобрести права ГИМС в Казани в нашей компании.</div>
            </li>
          </ol>
          <div class="roads-other">
            Первый вариант для вас будет сверхзатратным по времени – обучение
            идет долго, потом попытки сдать теорию и навыки управления судном,
            затем сбор медицинских справок. Второй - оформить права на
            управление маломерным судном с помощью наших опытных специалистов –
            будет быстрым, надежным и более экономичным.
          </div>
        </div>
        <div class="roads-image">
          <img th:src="@{/img/rest.webp}" alt="" />
        </div>
      </section>
      <section class="prices">
        <div class="prices-image">
          <img th:src="@{/img/calc.webp}" alt="" />
        </div>
        <div class="prices-content">
          <div class="prices-title">Узнать стоимость прав</div>
          <div class="prices-select">
            <select name="c-type" id="c-t-1" class="form-control">
              <option value="">- выберите тип прав -</option>
              <option
                value="c-type-a"
                data-c-price="24000"
                data-c-subtitle="Выберите необходимые категории"
              >
                Транспорт
              </option>
              <option
                value="c-type-s"
                data-c-price="18000"
                data-c-subtitle="Выберите необходимые категории и допуски"
              >
                Спецтехника
              </option>
              <option
                value="c-type-g"
                data-c-price="18000"
                data-c-subtitle="Выберите необходимые категории и пути плавания"
              >
                ГИМС
              </option>
            </select>
          </div>
          <div class="transport">
            <div class="transport-title">Выберите необходимые категории</div>
            <div class="transport-flex">
              <div data-price="7000" class="price-btn transport-flex-item">
                Мотоцикл (A, A1)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Легковой автомобиль (B, B1)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Грузовой автомобиль (C, C1)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Автобус и маршрутка (D, D1)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Прицеп для легкового (BE)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Прицеп для грузового (CE, C1E)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Прицеп для автобуса (DE, D1E)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Трамвай (TM)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Троллейбус (TB)
              </div>
            </div>
          </div>
          <div class="special">
            <div class="special-title">Выберите необходимые категории</div>
            <div class="special-flex">
              <div data-price="4000" class="price-btn special-flex-item">
                A1
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                A2
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                A3
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                A4
              </div>
              <div data-price="4000" class="price-btn special-flex-item">B</div>
              <div data-price="4000" class="price-btn special-flex-item">C</div>
              <div data-price="4000" class="price-btn special-flex-item">D</div>
              <div data-price="4000" class="price-btn special-flex-item">E</div>
              <div data-price="4000" class="price-btn special-flex-item">F</div>
            </div>
            <div class="special-title">Выберите допуски</div>
            <div class="special-flex">
              <div data-price="4000" class="price-btn special-flex-item">
                Трактор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Бульдозер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Автогрейдер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Погрузчик
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Каток
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Квадроцикл и снегоход
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Экскаватор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Вездеход
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Комбайн
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Асфальтоукладчик
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Разметочная машина
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Самосвал
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Форвардер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Харвестер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Кран
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Лесовоз
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Мусоровоз
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Ассенизатор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Дорожная фреза
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Трал
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Бетоновоз
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Бетононасос
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Снегоуборочная машина
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Бензовоз
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Эвакуатор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Автовышка
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Манипулятор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Сваебойная машина
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Трубоукладчик
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Поливочная машина
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Скрепер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Буровая машина
              </div>
            </div>
          </div>
          <div class="gims">
            <div class="gims-title">Выберите необходимые категории</div>
            <div class="gims-flex">
              <div data-price="4000" class="price-btn gims-flex-item">
                Моторное судно
              </div>
              <div data-price="4000" class="price-btn gims-flex-item">
                Гидроцикл
              </div>
              <div data-price="4000" class="price-btn gims-flex-item">
                Парусное судно
              </div>
              <div data-price="4000" class="price-btn gims-flex-item">
                Парусно-моторное судно
              </div>
            </div>
            <div class="gims-title">Выберите пути плавания</div>
            <div class="gims-flex">
              <div data-price="4000" class="price-btn gims-flex-item">ВП</div>
              <div data-price="4000" class="price-btn gims-flex-item">ВВП</div>
              <div data-price="4000" class="price-btn gims-flex-item">МП</div>
            </div>
          </div>
          <div class="price">
            <div class="price-value">
              <div>Стоимость прав -</div>
              <div class="price-value-number"></div>
              <div>₽</div>
            </div>
            <div class="prices-order-btn app-order-btn">Заказать</div>
          </div>
        </div>
      </section>
      <section class="gims-categories">
        <div class="gims-categories-title">Какие услуги мы предлагаем</div>
        <div class="gims-categories-flex">
          <div class="gims-categories-flexes">
            <div class="gims-categories-flex-text">
              <div class="gims-categories-flex-text-title">
                В нашей компании вы можете купить права на маломерные суда в
                Казани с любой категорией, чтобы иметь законное разрешение на
                управление:
              </div>
              <div class="gims-categories-flex-text-list">
                <div class="gims-categories-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>лодкой (моторной, надувной или для гребли);</div>
                </div>
                <div class="gims-categories-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>судном с парусом;</div>
                </div>
                <div class="gims-categories-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>катером или байдаркой;</div>
                </div>
                <div class="gims-categories-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>гидроциклом.</div>
                </div>
              </div>
            </div>
            <div class="gims-categories-flex-text">
              <div class="gims-categories-flex-text-title">
                В нашей компании вы можете купить права на маломерные суда в
                Казани с любой категорией, чтобы иметь законное разрешение на
                управление:
              </div>
              <div class="gims-categories-flex-text-list">
                <div class="gims-categories-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>лодкой (моторной, надувной или для гребли);</div>
                </div>
                <div class="gims-categories-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>судном с парусом;</div>
                </div>
                <div class="gims-categories-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>катером или байдаркой;</div>
                </div>
                <div class="gims-categories-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>гидроциклом.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="gims-categories-flex-image">
            <img th:src="@{/img/gims-pass-2.webp}" alt="" />
          </div>
        </div>
        <div class="gims-categories-flex-other">
          <div class="gims-categories-flex-other-item">
            <div class="gims-categories-flex-other-image"></div>
            <div class="gims-categories-flex-other-text">
              Профессиональная команда
            </div>
          </div>
          <div class="gims-categories-flex-other-item">
            <div class="gims-categories-flex-other-image"></div>
            <div class="gims-categories-flex-other-text">
              Соблюдаем сроки выполнения заказа
            </div>
          </div>
          <div class="gims-categories-flex-other-item">
            <div class="gims-categories-flex-other-image"></div>
            <div class="gims-categories-flex-other-text">
              Поддерживаем умеренную ценовую политику
            </div>
          </div>
        </div>
      </section>
      <section class="document">
        <div class="document-text">
          <div class="document-title">
            Документы водителя на управление водным транспортным средством
            делаем на государственном бланке
          </div>
          <div class="document-subtitle">
            Документы содержат все необходимые водяные знаки. Буквально в
            течение пары дней вы получите права категории маломерное судно,
            которые имеют юридическую силу.
          </div>
        </div>
        <div class="document-image"></div>
      </section>
      <section class="order">
        <div class="order-title">Порядок получения прав ГИМС</div>
        <div class="order-flex">
          <div class="order-image">
            <img th:src="@{/img/order-image.webp}" alt="" />
          </div>
          <div class="order-content">
            <div class="order-list-title">
              С целью оформить права на маломерное судно через ГИМС, нужно
              сделать следующее:
            </div>
            <ol class="order-list">
              <li class="order-list-item">
                <div>1</div>
                <div>Подать заявление в установленном порядке.</div>
              </li>
              <li class="order-list-item">
                <div>2</div>
                <div>Пройти обучение в лицензированном учебном заведении.</div>
              </li>
              <li class="order-list-item">
                <div>3</div>
                <div>
                  Перетерпеть экзаменационную суматоху. Кстати, для сдачи
                  теоретического материала дают несколько попыток, а для
                  подтверждения навыков вождения бесплатно можно сдавать только
                  ограниченное число раз.
                </div>
              </li>
              <li class="order-list-item">
                <div>4</div>
                <div>
                  Собрать заключение медиков о вашем состоянии здоровья.
                </div>
              </li>
            </ol>
            <div class="order-list-title">
              Как можете убедиться сами, получение прав ГИМС по установленной
              процедуре – это очень длительно. Также хотели бы вас предостеречь:
            </div>
            <ol class="order-list">
              <li class="order-list-item">
                <div>1</div>
                <div>
                  Учебные заведения, документы о завершении которых принимает
                  ГИМС, открыты исключительно в больших населенных пунктах. В
                  связи с этим, есть вероятность того, что вы будете вынуждены
                  ездить в другой город на учебу.
                </div>
              </li>
              <li class="order-list-item">
                <div>2</div>
                <div>
                  Курсы длятся до шести месяцев. Такой порядок и ускорить
                  невозможно.
                </div>
              </li>
              <li class="order-list-item">
                <div>3</div>
                <div>Пересдачи – это лишняя трата времени и денег.</div>
              </li>
            </ol>
          </div>
        </div>
      </section>
      <section class="need">
        <div class="need-text">
          <div class="need-subtitle">
            Так что, если вам нужно срочно и дешево купить права на маломерное
            судно, тогда путь через ГИМС никак не подходит.
          </div>
        </div>
        <div class="need-image"></div>
      </section>
      <section class="stages">
        <div class="stages-title">Этапы сотрудничества</div>
        <div class="stages-flex">
          <div class="stages-item">
            <div class="stages-item-number">1</div>
            <div class="stages-item-title">Заполните заявку</div>
            <div class="stages-item-subtitle">
              Присылайте документы и фотографию
            </div>
          </div>
          <div class="stages-item">
            <div class="stages-item-number">2</div>
            <div class="stages-item-title">Внесите аванс</div>
            <div class="stages-item-subtitle">
              Всего 3000 ₽ для начала производства
            </div>
          </div>
          <div class="stages-item">
            <div class="stages-item-number">3</div>
            <div class="stages-item-title">Получите отчет</div>
            <div class="stages-item-subtitle">
              Фото и видео подтверждающие подлинность ваших прав
            </div>
          </div>
          <div class="stages-item">
            <div class="stages-item-number">4</div>
            <div class="stages-item-title">Оплатите и получите</div>
            <div class="stages-item-subtitle">
              Вы производите полную оплату, мы отправляем права заказным письмом
              за наш счет
            </div>
          </div>
          <div class="line"></div>
        </div>
        <div class="stages-btn app-order-btn">Заказать права</div>
      </section>
      <section class="gims-reasons">
        <div class="gims-reasons-flex">
          <div class="gims-reasons-flex-image">
            <img th:src="@{/img/gims-human.webp}" alt="" />
          </div>
          <div class="gims-reasons-flexes">
            <div class="gims-reasons-flex-text">
              <div class="gims-reasons-title">Какие услуги мы предлагаем</div>
              <div class="gims-reasons-flex-text-title">
                Как только вы подали заявку на сайте, можете отметить 2 дня,
                через которые курьер доставит ваши права на управление
                маломерным судном. Вы отдыхаете, а мы трудимся за вас.
              </div>
              <div class="gims-reasons-flex-text-title">
                Мы открыто говорим о наших преимуществах, что подтверждают в
                отзывах клиенты:
              </div>
              <div class="gims-reasons-flex-text-list">
                <div class="gims-reasons-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>
                    применяем индивидуальный и ответственный подход к каждому
                    заказу;
                  </div>
                </div>
                <div class="gims-reasons-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>
                    предоставляем полный комплект документации - права на
                    управление различными маломерными суднами вместе со
                    свидетельством о прохождении обучения и справке с
                    заключением медицинской комиссии;
                  </div>
                </div>
                <div class="gims-reasons-flex-text-list-item">
                  <div class="gims-bullet"></div>
                  <div>
                    проводим безопасную для вас сделку – когда вы сами убедитесь
                    в легальности удостоверения, тогда производите окончательный
                    расчет за выполненную услугу.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="achieve">
        <div class="achieve-text">
          <div class="achieve-title">
            Добъемся положительного результата в любом случае
          </div>
          <div class="achieve-subtitle">
            Квалифицированные и опытные сотрудники находят выходы из самых
            трудных и проблемных ситуаций, чтобы добиться положительного в вашем
            случае результата. Цена на покупку прав ГИМС значительно меньше, чем
            стандартный вариант путем прохождения обучения, экзаменационных
            процедур и комиссии из врачей. Чтобы уточнить стоимость изготовления
            удостоверения, нужно просто отправить заявку с нашего сайта.
          </div>
        </div>
        <div class="achieve-image"></div>
      </section>
      <section class="send-order">
        <div class="send-order-block">
          <div class="send-order-block-title">Отправить заказ</div>
          <form action="" class="send-order-form">
            <div class="send-order-inputs">
              <div class="send-order-input">
                <input type="text" class="name-form" placeholder="Имя" />
              </div>
              <div class="send-order-input">
                <input type="text" class="phone-form" placeholder="Телефон" />
              </div>
            </div>
            <textarea
              class="send-order-textarea"
              name=""
              id=""
              placeholder="Что требуется сделать"
            ></textarea>
            <div class="send-order-submit-btn">Заказать права</div>
          </form>
        </div>
        <div class="send-order-image">
          <img th:src="@{/img/form-img.webp}" alt="" />
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="main-footer">
          <div class="footer-left">
            <div class="footer-logo">
              <img th:src="@{/img/logo.png}" alt="logo" />
            </div>
            <div class="footer-city">Казань</div>
          </div>
          <div class="number">
            <a class="number-image" href="whatsapp://send?phone=+74993223093">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 01-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 01-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553A6.48 6.48 0 006.8 15.636l-.825 2.433 2.537-.806a6.6 6.6 0 003.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 01-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 01-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 00-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z"
                  fill-rule="evenodd"
                />
              </svg>
            </a>
            <a class="number-text" href="tel:+74993223093">+7(499) 322-30-93</a>
          </div>
        </div>
        <div class="footer-nav">
          <nav>
            <a href="/" class="footer-nav-item">Права</a>
            <a href="/special" class="footer-nav-item"
              >Спецтехника</a
            >
            <a href="/gims" class="footer-nav-item">ГИМС</a>
            <a href="/feedback" class="footer-nav-item">Отзывы</a>
            <a href="/delivery" class="footer-nav-item"
              >Доставка и оплата</a
            >
          </nav>
          <div class="header-nav-other">2023 © Все права защищены</div>
        </div>
      </div>
    </footer>

    <div class="order-container">
      <div class="order-block">
        <div class="order-cancel">
          <img th:src="@{/img/close.png}" alt="" />
        </div>
        <div class="order-title">Заказ прав</div>
        <form action="" class="order-form">
          <div class="order-inputs">
            <div class="order-input">
              <input type="text" class="name" placeholder="Имя" />
            </div>
            <div class="order-input">
              <input type="text" class="phone" placeholder="Телефон" />
            </div>
          </div>
          <textarea
            class="order-textarea"
            name=""
            id=""
            placeholder="Что требуется сделать"
          ></textarea>
          <div class="order-submit-btn">Заказать права</div>
        </form>
      </div>
    </div>
    <div class="send-success-container">
      <div class="send-success-block">
        <div class="send-success-block-title">Сообщение отправлено!</div>
        <div class="send-success-block-subtitle">
          Мы свяжемся с Вами в ближайшее время.
        </div>
        <div class="send-success-block-close">Закрыть</div>
      </div>
    </div>
    <script th:src="@{/scripts/header.js}"></script>
    <script th:src="@{/scripts/calc.js}"></script>
    <script th:src="@{/scripts/order.js}"></script>
  </body>
</html>
