<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <title>Купить права лишенному 26000 руб. за 3 дня</title>
  </head>
  <body id="root">
    <header>
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo">
            <img th:src="@{/img/logo.png}" alt="logo" />
          </div>
          <div class="city">Казань</div>
          <div class="cities-container">
            <div class="cities-block">
              <div class="cities-cancel">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  height="12px"
                  width="12px"
                  version="1.1"
                  id="Layer_1"
                  viewBox="0 0 492 492"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"
                      />
                    </g>
                  </g>
                </svg>
              </div>
              <div class="cities-grid">
                <div class="cities-grid-item">Барнаул</div>
                <div class="cities-grid-item">Волгоград</div>
                <div class="cities-grid-item">Воронеж</div>
                <div class="cities-grid-item">Екатеринбург</div>
                <div class="cities-grid-item">Ижевск</div>
                <div class="cities-grid-item">Иркутск</div>
                <div class="cities-grid-item">Казань</div>
                <div class="cities-grid-item">Краснодар</div>
                <div class="cities-grid-item">Красноярск</div>
                <div class="cities-grid-item">Москва</div>
                <div class="cities-grid-item">Нижний Новгород</div>
                <div class="cities-grid-item">Новосибирск</div>
                <div class="cities-grid-item">Омск</div>
                <div class="cities-grid-item">Пермь</div>
                <div class="cities-grid-item">Ростов-на-Дону</div>
                <div class="cities-grid-item">Самара</div>
                <div class="cities-grid-item">Санкт-Петербург</div>
                <div class="cities-grid-item">Саратов</div>
                <div class="cities-grid-item">Тольятти</div>
                <div class="cities-grid-item">Тюмень</div>
                <div class="cities-grid-item">Ульяновск</div>
                <div class="cities-grid-item">Уфа</div>
                <div class="cities-grid-item">Хабаровск</div>
                <div class="cities-grid-item">Челябинск</div>
                <div class="cities-grid-item">Ярославль</div>
              </div>
            </div>
          </div>
        </div>
        <div class="number">
          <a class="number-image" href="whatsapp://send?phone=+79152080047">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 01-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 01-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553A6.48 6.48 0 006.8 15.636l-.825 2.433 2.537-.806a6.6 6.6 0 003.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 01-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 01-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 00-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z"
                fill-rule="evenodd"
              />
            </svg>
          </a>
          <a class="number-text" href="tel:+79152080047">+7(915) 208-00-47</a>
        </div>
      </div>
      <div class="header-nav">
        <a href="/" class="header-nav-item">Права</a>
        <a href="/special" class="header-nav-item">Спецтехника</a>
        <a href="/gims" class="header-nav-item">ГИМС</a>
        <a href="/feedback" class="header-nav-item">Отзывы</a>
        <a href="/delivery" class="header-nav-item"
          >Доставка и оплата</a
        >
      </div>
    </header>

    <main>
      <section class="intro">
        <div class="intro-left">
          <h1 class="intro-title">Купить права онлайн</h1>
          <div class="intro-subtitle">любой категории, на любую технику</div>
          <div class="intro-btn app-order-btn">Заказать права</div>
        </div>
        <div class="intro-image">
          <img th:src="@{/img/intro-image.webp}" alt="" />
        </div>
      </section>
      <section class="about">
        <div class="about-grid">
          <div class="about-grid-item">
            <div class="item-title">
              <div class="item-title-number">31,000</div>
              <div class="item-title-symbol">₽</div>
            </div>
            <div class="item-subtitle">
              стоимость водительского удостоверения
            </div>
          </div>
          <div class="about-grid-item">
            <div class="item-title">
              <div class="item-title-number">24</div>
              <div class="item-title-symbol">ч</div>
            </div>
            <div class="item-subtitle">минимальный срок производства</div>
          </div>
          <div class="about-grid-item">
            <div class="item-title">
              <div class="item-title-number">5,423</div>
              <div class="item-title-symbol">++</div>
            </div>
            <div class="item-subtitle">благодарных клиентов</div>
          </div>
          <div class="about-grid-item">
            <div class="item-title">
              <div class="item-title-number">5</div>
              <div class="item-title-symbol">лет</div>
            </div>
            <div class="item-subtitle">успешной работы</div>
          </div>
        </div>
        <div class="about-text">
          <div class="about-text-title">Купить водительские права</div>
          <div class="about-text-subtitle">
            Водителем быть точно лучше, чем пешеходом. Вот только, когда
            задумаешься, что предстоит пройти, – продолжительное обучение в
            автошколе, сдачу экзаменов, придирки сотрудников ДПС и вероятные
            пересдачи – уже не особо хочется получать водительское
            удостоверение.
            <br />
            <br />
            Не унывайте, решение найдется! Можно купить права и спустя 2-3 дня
            спокойно садиться за руль, имея на руках необходимый документ. Мы
            готовы помочь вам в максимально сжатые сроки.
          </div>
        </div>
      </section>
      <section class="section-bg">
        <img th:src="@{/img/section-bg.webp}" alt="" />
      </section>
      <section class="collaboration">
        <div class="colloboration-flex">
          <div class="pluses">
            <div class="pluses-title">
              Плюсы сотрудничества с компанией ABC Профи
            </div>
            <div class="pluse-item">
              <div class="pluse-image"></div>
              <div class="pluse-text">Безопасно и быстро решаем вопросы</div>
            </div>
            <div class="pluse-item">
              <div class="pluse-image"></div>
              <div class="pluse-text">
                Строго исполняем договоренности — мы профессионалы
              </div>
            </div>
            <div class="pluse-item">
              <div class="pluse-image"></div>
              <div class="pluse-text">
                Имеем опыт урегулирования сложных моментов
              </div>
            </div>
          </div>
          <div class="collaboration-text">
            <div>
              Вы знаете, что, теперь проблематичнее получить водительские права.
              Требуется масса времени, да и финансов значительно больше, чем
              раньше.
            </div>
            <div>
              Увеличили обязательное количество нормативных часов по теории и
              практике, на экзамены и получение медицинских справок тоже уходит
              уйма дней.
            </div>
            <div>
              Сотрудники компании ABC Профи готовы освободить от установленной
              бюрократической процедуры и решить все за вас.
            </div>
          </div>
        </div>
        <div class="collaboration-enter">
          <div class="collaboration-enter-text">
            Заполните заявку и купите водительское удостоверение на любую
            категорию прав
          </div>
          <div class="collaboration-enter-btn app-order-btn">
            Заполнить заявку
          </div>
        </div>
      </section>
      <section class="activities">
        <div class="activities-title">Направления нашей деятельности</div>
        <div class="activities-subtitle">
          Если вы уже способны управлять транспортным средством, соблюдая
          Правила дорожного движения, следовательно, можете купить права на
          машину и не тратить время на учебу, экзамены и прочие обязательные
          моменты.
        </div>
        <div class="activities-grid">
          <a href="#" class="activities-grid-item">
            <div class="activities-grid-item-image"></div>
            <div class="activities-grid-item-text">
              Покупка новых прав для лиц с гражданством РФ
            </div>
          </a>
          <a href="#" class="activities-grid-item">
            <div class="activities-grid-item-image"></div>
            <div class="activities-grid-item-text">
              Замена водительского удостоверения по сроку действия
            </div>
          </a>
          <a href="#" class="activities-grid-item">
            <div class="activities-grid-item-image"></div>
            <div class="activities-grid-item-text">
              Добавление водительской категории
            </div>
          </a>
          <a href="#" class="activities-grid-item">
            <div class="activities-grid-item-image"></div>
            <div class="activities-grid-item-text">
              Покупка прав для лиц с иностранным гражданством
            </div>
          </a>
          <a href="#" class="activities-grid-item">
            <div class="activities-grid-item-image"></div>
            <div class="activities-grid-item-text">
              Изготовление прав на управление спецтехникой
            </div>
          </a>
          <a href="#" class="activities-grid-item">
            <div class="activities-grid-item-image"></div>
            <div class="activities-grid-item-text">
              Производство прав на управление маломерным судном
            </div>
          </a>
        </div>
      </section>
      <section class="court">
        <div class="court-text">
          <div class="court-text-title">Суд лишил прав?</div>
          <div class="court-text-subtitle">
            Мы находим выход и помогаем получить водительское удостоверение даже
            лицам, кого на основании решения суда лишили права управления ТС.
          </div>
        </div>
        <div class="court-image"></div>
      </section>

      <section class="categories">
        <div class="categories-image">
          <img th:src="@{/img/categories.webp}" alt="" />
        </div>
        <div class="categories-content">
          <div class="categories-content-title">
            Изготовим права любой категории в <span class="categories-content-title city-change">Казани</span>
          </div>
          <div class="categories-content-subtitle">
            Наши сотрудники выполняют заказы по любому направлению в течение 2-3
            дней. Можете купить водительские права на следующие категории
          </div>
          <div class="categories-content-flex">
            <div class="categories-content-flex-item">
              Мотоцикл <span>А + А1</span>
            </div>
            <div class="categories-content-flex-item">
              Легковое авто <span>В + B1</span>
            </div>
            <div class="categories-content-flex-item">
              Грузовик <span>С + С1</span>
            </div>
            <div class="categories-content-flex-item">
              Автобус <span>D + D1</span>
            </div>
            <div class="categories-content-flex-item">
              Категория <span>E</span>
            </div>
            <div class="categories-content-flex-item">ГИМС</div>
            <div class="categories-content-flex-item">Лодка</div>
            <div class="categories-content-flex-item">Спецтехника</div>
            <div class="categories-content-flex-item">Трактор</div>
          </div>
        </div>
      </section>
      <section class="extra">
        <div class="extra-text">
          <div class="extra-title">Предлагаем дополнительные услуги</div>
          <div class="extra-subtitle">
            Помогаем оформить дубликат водительского удостоверения, зеркальный
            документ и права, данные которых, будут недоступны для проверки
            гаишниками. Работаем на совесть, выполняем оговоренные сроки и
            быстро доставляем законный документ для управления различными видами
            транспорта.
          </div>
        </div>
        <div class="extra-image"></div>
      </section>
      <section class="prices">
        <div class="prices-image">
          <img th:src="@{/img/calc.webp}" alt="" />
        </div>
        <div class="prices-content">
          <div class="prices-title">Узнать стоимость прав</div>
          <div class="prices-select">
            <select name="c-type" id="c-t-1" class="form-control">
              <option value="">- выберите тип прав -</option>
              <option
                value="c-type-a"
                data-c-price="24000"
                data-c-subtitle="Выберите необходимые категории"
              >
                Транспорт
              </option>
              <option
                value="c-type-s"
                data-c-price="18000"
                data-c-subtitle="Выберите необходимые категории и допуски"
              >
                Спецтехника
              </option>
              <option
                value="c-type-g"
                data-c-price="18000"
                data-c-subtitle="Выберите необходимые категории и пути плавания"
              >
                ГИМС
              </option>
            </select>
          </div>
          <div class="transport">
            <div class="transport-title">Выберите необходимые категории</div>
            <div class="transport-flex">
              <div data-price="7000" class="price-btn transport-flex-item">
                Мотоцикл (A, A1)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Легковой автомобиль (B, B1)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Грузовой автомобиль (C, C1)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Автобус и маршрутка (D, D1)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Прицеп для легкового (BE)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Прицеп для грузового (CE, C1E)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Прицеп для автобуса (DE, D1E)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Трамвай (TM)
              </div>
              <div data-price="7000" class="price-btn transport-flex-item">
                Троллейбус (TB)
              </div>
            </div>
          </div>
          <div class="special">
            <div class="special-title">Выберите необходимые категории</div>
            <div class="special-flex">
              <div data-price="4000" class="price-btn special-flex-item">
                A1
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                A2
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                A3
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                A4
              </div>
              <div data-price="4000" class="price-btn special-flex-item">B</div>
              <div data-price="4000" class="price-btn special-flex-item">C</div>
              <div data-price="4000" class="price-btn special-flex-item">D</div>
              <div data-price="4000" class="price-btn special-flex-item">E</div>
              <div data-price="4000" class="price-btn special-flex-item">F</div>
            </div>
            <div class="special-title">Выберите допуски</div>
            <div class="special-flex">
              <div data-price="4000" class="price-btn special-flex-item">
                Трактор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Бульдозер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Автогрейдер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Погрузчик
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Каток
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Квадроцикл и снегоход
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Экскаватор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Вездеход
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Комбайн
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Асфальтоукладчик
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Разметочная машина
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Самосвал
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Форвардер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Харвестер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Кран
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Лесовоз
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Мусоровоз
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Ассенизатор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Дорожная фреза
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Трал
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Бетоновоз
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Бетононасос
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Снегоуборочная машина
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Бензовоз
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Эвакуатор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Автовышка
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Манипулятор
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Сваебойная машина
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Трубоукладчик
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Поливочная машина
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Скрепер
              </div>
              <div data-price="4000" class="price-btn special-flex-item">
                Буровая машина
              </div>
            </div>
          </div>
          <div class="gims">
            <div class="gims-title">Выберите необходимые категории</div>
            <div class="gims-flex">
              <div data-price="4000" class="price-btn gims-flex-item">
                Моторное судно
              </div>
              <div data-price="4000" class="price-btn gims-flex-item">
                Гидроцикл
              </div>
              <div data-price="4000" class="price-btn gims-flex-item">
                Парусное судно
              </div>
              <div data-price="4000" class="price-btn gims-flex-item">
                Парусно-моторное судно
              </div>
            </div>
            <div class="gims-title">Выберите пути плавания</div>
            <div class="gims-flex">
              <div data-price="4000" class="price-btn gims-flex-item">ВП</div>
              <div data-price="4000" class="price-btn gims-flex-item">ВВП</div>
              <div data-price="4000" class="price-btn gims-flex-item">МП</div>
            </div>
          </div>
          <div class="price">
            <div class="price-value">
              <div>Стоимость прав -</div>
              <div class="price-value-number"></div>
              <div>₽</div>
            </div>
            <div class="prices-order-btn app-order-btn">Заказать</div>
          </div>
        </div>
      </section>
      <section class="much">
        <div class="much-content">
          <div class="much-title">Сколько стоят водительские права</div>
          <div class="much-list-title">
            Стоимость складывается по итогам таких моментов, как:
          </div>
          <ul class="much-list">
            <li class="much-list-item">
              <div class="bullet"></div>
              <div class="much-list-item-text">
                Желаемые сроки выполнения заказа.
              </div>
            </li>
            <li class="much-list-item">
              <div class="bullet"></div>
              <div class="much-list-item-text">Категория вождения.</div>
            </li>
            <li class="much-list-item">
              <div class="bullet"></div>
              <div class="much-list-item-text">
                Имеющиеся на руках документы.
              </div>
            </li>
          </ul>
          <div class="much-other">
            После обработки заявки, которая расположена у нас на сайте,
            сотрудник связывается с вами. Вы обсуждаете детали и согласовываете
            стоимость работы.
          </div>
        </div>
        <div class="much-image"><img th:src="@{/img/price.webp}" alt="" /></div>
      </section>
      <section class="why">
        <div class="why-title">
          Почему лучше заказать водительские права у нас
        </div>
        <div class="why-flex">
          <div class="why-flex-item">
            <div class="why-flex-item-image"></div>
            <div class="why-flex-item-title">Прозрачный процесс</div>
            <div class="why-flex-item-subtitle">
              Документы оформляются через автошколу. Покупка водительского
              удостоверения — это прозрачный со стороны законодательства
              процесс, права официальные.
            </div>
          </div>
          <div class="why-flex-item">
            <div class="why-flex-item-image"></div>
            <div class="why-flex-item-title">Безопасная для вас схема</div>
            <div class="why-flex-item-subtitle">
              Оплачиваете после того, как убедились в легальности удостоверения.
              Небольшой аванс вы делаете на этапе согласования работы, чтобы мы
              приступили к исполнению.
            </div>
          </div>
          <div class="why-flex-item">
            <div class="why-flex-item-image"></div>
            <div class="why-flex-item-title">Качественно выполняем заявки</div>
            <div class="why-flex-item-subtitle">
              О нашей работе вы можете почитать в отзывах на сайте. Мы взаимно
              говорим спасибо клиентам за правдивые слова.
            </div>
          </div>
        </div>
      </section>
      <section class="how-buy">
        <div class="how-buy-image">
          <img th:src="@{/img/how-buy.webp}" alt="" />
        </div>
        <div class="how-buy-content">
          <div class="how-buy-title">
            Как купить водительские права в <span class="how-buy-title city-change">Казани</span>
          </div>
          <div class="how-buy-text">
            Заказать водительские права в нашей компании очень легко. Вам всего
            лишь нужно указать в онлайн-заявке необходимые сведения и внести
            небольшую предоплату, после которой мы начинаем работу. Когда
            удостоверение будет изготовлено, вам на электронную почту поступит
            отчет, и вы убедитесь в точном исполнении заказа. После этого
            необходимо произвести полную оплату и договориться об удобном
            времени доставки документа.
          </div>
          <div class="how-buy-subtitle">
            Сбережёте собственные нервы и деньги
          </div>
          <div class="how-buy-text">
            В течение самого короткого времени, без значительных затрат вам
            доступно купить новые права и уверенно ездить за рулем на любом виде
            транспортного средства.
          </div>
        </div>
      </section>
      <section class="popular">
        <div class="popular-title">Популярные права</div>
        <div class="popular-grid">
          <a href="/" class="popular-grid-item">
            <div class="popular-grid-item-image">
              <img th:src="@{/img/p1.webp}" alt="" />
            </div>
            <div class="popular-grid-item-text">Категория A</div> </a
          ><a href="/" class="popular-grid-item">
            <div class="popular-grid-item-image">
              <img th:src="@{/img/p2.webp}" alt="" />
            </div>
            <div class="popular-grid-item-text">Категория B</div> </a
          ><a href="/special" class="popular-grid-item">
            <div class="popular-grid-item-image">
              <img th:src="@{/img/p5.webp}" alt="" />
            </div>
            <div class="ww">Спецтехника</div> </a
          ><a href="/special" class="popular-grid-item">
            <div class="popular-grid-item-image">
              <img th:src="@{/img/p6.webp}" alt="" />
            </div>
            <div class="popular-grid-item-text">Тракторные</div> </a
          ><a href="/gims" class="popular-grid-item">
            <div class="popular-grid-item-image">
              <img th:src="@{/img/p8.webp}" alt="" />
            </div>
            <div class="popular-grid-item-text">ГИМС</div>
          </a>
        </div>
      </section>
      <section class="how-make">
        <div class="how-make-container">
          <div class="how-make-left">
            <div class="how-make-title">Как сделать права</div>
            <div class="how-make-bg"></div>
          </div>

          <div class="how-make-flex">
            <div class="how-make-flex-item">
              <div class="how-make-flex-item-number">1</div>
              <div class="how-make-flex-item-text">
                <div class="how-make-flex-item-text-title">Сделать заказ</div>
                <div class="how-make-flex-item-text-subtitle">
                  Отправляете нам необходимые данные
                </div>
              </div>
            </div>
            <div class="how-make-flex-item">
              <div class="how-make-flex-item-number">2</div>
              <div class="how-make-flex-item-text">
                <div class="how-make-flex-item-text-title">
                  Внести предоплату
                </div>
                <div class="how-make-flex-item-text-subtitle">
                  Переводите нам 5000 руб.
                </div>
              </div>
            </div>
            <div class="how-make-flex-item">
              <div class="how-make-flex-item-number">3</div>
              <div class="how-make-flex-item-text">
                <div class="how-make-flex-item-text-title">Получить отчет</div>
                <div class="how-make-flex-item-text-subtitle">
                  Мы предоставим вам видео отчет когда права будут готовы
                </div>
              </div>
            </div>
            <div class="how-make-flex-item">
              <div class="how-make-flex-item-number">4</div>
              <div class="how-make-flex-item-text">
                <div class="how-make-flex-item-text-title">
                  Оплатить остаток
                </div>
                <div class="how-make-flex-item-text-subtitle">
                  Вы оплачиваете заказ и получаете свои права курьером
                </div>
              </div>
            </div>
            <div class="how-make-line"></div>
            <div class="how-make-order-btn app-order-btn">Сделать права</div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-container">
        <div class="main-footer">
          <div class="footer-left">
            <div class="footer-logo">
              <img th:src="@{/img/logo.png}" alt="logo" />
            </div>
            <div class="footer-city">Казань</div>
          </div>
          <div class="number">
            <a class="number-image" href="whatsapp://send?phone=+79152080047">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 01-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 01-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553A6.48 6.48 0 006.8 15.636l-.825 2.433 2.537-.806a6.6 6.6 0 003.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 01-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 01-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 00-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z"
                  fill-rule="evenodd"
                />
              </svg>
            </a>
            <a class="number-text" href="tel:+79152080047">+7(915) 208-00-47</a>
          </div>
        </div>
        <div class="footer-nav">
          <nav>
            <a href="/" class="footer-nav-item">Права</a>
            <a href="/special" class="footer-nav-item"
              >Спецтехника</a
            >
            <a href="/gims" class="footer-nav-item">ГИМС</a>
            <a href="/feedback" class="footer-nav-item">Отзывы</a>
            <a href="/delivery" class="footer-nav-item"
              >Доставка и оплата</a
            >
          </nav>
          <div class="header-nav-other">2023 © Все права защищены</div>
        </div>
      </div>
    </footer>
    <div class="order-container">
      <div class="order-block">
        <div class="order-cancel">
          <img th:src="@{/img/close.png}" alt="" />
        </div>
        <div class="order-title">Заказ прав</div>
        <form action="" class="order-form">
          <div class="order-inputs">
            <div class="order-input">
              <input type="text" class="name" placeholder="Имя" />
            </div>
            <div class="order-input">
              <input type="text" class="phone" placeholder="Телефон" />
            </div>
          </div>
          <textarea
            class="order-textarea"
            name=""
            id=""
            placeholder="Что требуется сделать"
          ></textarea>
          <div class="order-submit-btn">Заказать права</div>
        </form>
      </div>
    </div>
    <div class="send-success-container">
      <div class="send-success-block">
        <div class="send-success-block-title">Сообщение отправлено!</div>
        <div class="send-success-block-subtitle">
          Мы свяжемся с Вами в ближайшее время.
        </div>
        <div class="send-success-block-close">Закрыть</div>
      </div>
    </div>
    <script th:src="@{/scripts/header.js}"></script>
    <script th:src="@{/scripts/calc.js}"></script>
    <script th:src="@{/scripts/order.js}"></script>
  </body>
</html>
